body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #F08080;
}

.sidebar h1 {
    color: #900C3F;
    font-size: 1.3em;
}

.sidebar a {
    color: #E9967A;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #FA8072;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #FF5733;
}

.author a {
    color: #DAF7A6;
}
