<h1>Links</h1>
<ul>
  <li><a href="https://bemoons.wordpress.com/2015/03/27/why-i-dropped-everything-and-started-teaching-kendrick-lamars-new-album/">Why I Dropped Everything and Started Teaching Kendrick Lamar's New Album</a></li>
  <li><a href="http://zenpencils.tumblr.com/post/60967781313/sylvia-plath-the-fig-tree">Sylvia Plath's The Bell Jar</a></li>
  <li><a href="https://www.youtube.com/watch?v=aZHZDS2QkBo">XXL Freestyle by G Herbo & Dave East</a></li>
  <li><a href="http://studentudurham.org/">Student U Durham</a></li>
</ul>
